[submodule "shared_class"]
	path = shared_class
	url = git@github.com:natuition/shared_class.git
[submodule "natuition_rpc"]
	path = natuition_rpc
	url = git@github.com:natuition/multiple-view-intelligence.git
