<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Violette</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>
        html,
        body {
            padding: 0;
            margin: 0 15px;
            height: 100%;
            touch-action: manipulation;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <script>
        var socketio = io.connect('http://' + document.domain + ':' + location.port + '/server');
    </script>
</head>

<body>
    <h1 style="text-align: center; padding: 10px 0;">{{(ui_languages["Analyse data vesc title"])[ui_language]}}</h1>

    <p>{{(ui_languages["analyse data vesc checkbox"])[ui_language]}}</p>
    <label><input type="checkbox" id="toggleTemp" checked> {{(ui_languages["temperature"])[ui_language]}}</label>
    <label><input type="checkbox" id="toggleRPM" checked> {{(ui_languages["speed"])[ui_language]}}</label>
    <label><input type="checkbox" id="toggleTorque" checked> {{(ui_languages["torque"])[ui_language]}}</label>

    <h2 style="text-align: center; padding: 10px 0;">{{(ui_languages["Graphique en temps reel"])[ui_language]}}</h2>
    <canvas id="myLiveChart" width="400" height="200"></canvas>

    <h2 style="text-align: center; padding: 10px 0;">{{(ui_languages["Graphique une extraction"])[ui_language]}}</h2>
    <button id="newSignalButton">{{(ui_languages["rechercher un nouveau signal"])[ui_language]}}</button>
    <div id="loadingIcon" style="display: block; text-align: center; margin: 20px 0;">
        <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." width="100">
        <p>{{(ui_languages["en attente de donnees"])[ui_language]}}</p>
    </div>
    <canvas id="myRegistredChart" width="400" height="200"></canvas>
    

    <script type="text/javascript" src="/static/{{ now }}/js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/{{ now }}/js/analyse_data_vesc.js"></script>
</body>

</html>