<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Violette</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <script>
        var socketio = io.connect('http://' + document.domain + ':' + location.port + '/server');
    </script>
</head>

<body>
    <h1 style="text-align: center; padding: 10px 0;"> {{(ui_languages["Calibration title"])[ui_language]}}</h1>
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            {% if password_wrong %}
            <div class="alert alert-danger" role="alert">
                {{(ui_languages["Error calibrate password"])[ui_language]}}
            </div>
            {% endif %}
            <form action="/calibrate" method='post' class="row g-3">
                <div class="col-12">
                    <label for="password">{{(ui_languages["Login calibrate password"])[ui_language]}}</label>
                    <div class="input-group">
                        <div class="input-group-text">{{(ui_languages["Password"])[ui_language]}} :</div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="btn-group-vertical m-1">
                        <button type="button" class="cancel btn btn-outline-danger"
                            onclick="cancelHandler();">{{(ui_languages["Quit"])[ui_language]}}</button>
                    </div>
                    <span id="pick_up_target" class="d-none">{{(ui_languages["Pick up target"])[ui_language]}}</span>
                    <div class="btn-group-vertical m-1">
                        <button type="submit" class="btn btn-outline-success"
                            value="Submit">{{(ui_languages["Submit"])[ui_language]}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function cancelHandler() {
            $(':button').prop('disabled', true);
            $('.cancel').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
            alert($('#pick_up_target').text());
            socketio.emit('data', { type: "calibration_cancel" });
        }

        socketio.on('href_to', function (data) {
            if (data["delay"] != undefined) {
                var reloader = setTimeout(() => {
                    window.location.href = 'http://' + document.domain + data["href"];
                    reloader = undefined;
                }, data["delay"]);
            } else {
                window.location.href = 'http://' + document.domain + data["href"];
            }
        });
    </script>
</body>

</html>