<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Violette</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>
        html,
        body {
            padding: 0;
            margin: 0 15px;
            height: 100%;
            touch-action: manipulation;
        }

        #fig_image:hover {
            /*transform: scale(2);*/
            object-fit: none;
        }

        .btn-xl {
            padding: 0.75rem 2rem !important;
            font-size: 2.5rem !important;
            border-radius: 0.6rem !important;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <script>
        var socketio = io.connect('http://' + document.domain + ':' + location.port + '/server');
    </script>
</head>

<body>
    <h1 style="text-align: center; padding: 10px 0;">{{(ui_languages["Move to target title"])[ui_language]}}</h1>

    <div id="alert" class="alert alert-success d-none" role="alert">
        <h4 class="alert-heading">{{(ui_languages["Calibration configuration saved title"])[ui_language]}}</h4>
        <p>{{(ui_languages["Calibration configuration saved msg"])[ui_language]}}</p>
        <hr>
        <p class="mb-0">{{(ui_languages["Calibration configuration saved tips"])[ui_language]}}</p>
    </div>

    <div id="run_move_div" class="d-flex justify-content-center align-items-center"
        style="margin: 0 auto; padding: 10px 0;">
        <label class="form-check-label">{{(ui_languages["Move to target label"])[ui_language]}} :</label>
        <div class="btn-group-vertical m-1">
            <button type="button" id="run_move" class="btn btn-outline-secondary"
                onclick="runMoveToTarget();">{{(ui_languages["Run"])[ui_language]}}
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="margin: 0 auto; padding: 10px 0;">
        <label class="form-check-label" for="xDone">
            {{(ui_languages["Move extraction tool to target"])[ui_language]}}:
        </label>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center" style="margin: 0 auto; padding: 10px 0;">
        <div class="d-flex justify-content-center align-items-center">
            <button type="button" id="y_add" class="btn btn-outline-secondary btn-xl" onclick="moveAxisXY('y',1)"
                disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5" />
                </svg>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="x_remove" class="btn btn-outline-secondary btn-xl" onclick="moveAxisXY('x',-1)"
                disabled style="margin: 10px 10px 0 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
            </button>
            <button type="button" id="y_remove" class="btn btn-outline-secondary btn-xl" onclick="moveAxisXY('y',-1)"
                disabled style="margin: 10px 10px 0 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1" />
                </svg>
            </button>
            <button type="button" id="x_add" class="btn btn-outline-secondary btn-xl" onclick="moveAxisXY('x',1)"
                disabled style="margin: 10px 0 0 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </button>
        </div>
    </div>

    <div id="button_div" class="d-flex justify-content-center align-items-center"
        style="margin: 0 auto; padding: 10px 0;">
        <div class="btn-group-vertical m-1">
            <button type="button" id="cancel" class="btn btn-outline-danger btn-lg"
                onclick="cancel();">{{(ui_languages["Quit"])[ui_language]}}</button>
        </div>
        <div class="btn-group-vertical m-1">
            <button type="button" id="save" class="btn btn-outline-success btn-lg"
                onclick="save();">{{(ui_languages["Save"])[ui_language]}}</button>
        </div>
    </div>

    <script>
        function cancel() {
            $(':button').prop('disabled', true);
            $('#cancel').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
            socketio.emit('data', { type: "calibration_cancel" })
        }

        function save() {
            $('#save').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
            socketio.emit('data', { type: "calibration_validate" })
        }

        function moveAxisXY(axis, value) {
            socketio.emit('data', { type: "step_axis_xy", axis: axis, value: value });
        }

        function runMoveToTarget() {
            $('.btn').attr({ disabled: true });
            $('#run_move').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> En cours...');
            socketio.emit('data', { type: "run_move_to_target" })
        }

        socketio.on('move', function (data) {
            if (data["move"]) {
                $('.btn').removeAttr("disabled");
                $('#run_move').attr({ disabled: true });
                $('#run_move').html('Fait');
            }
        });

        socketio.on('save_applied', function (data) {
            $('.btn').attr({ disabled: true });
            $('#alert').removeClass('d-none');
            $('#run_move').html('Lancer');
            $('#run_move').removeAttr("disabled");
            $('#save').html('Sauvegarder');
        });

        socketio.on('href_to', function (data) {
            if (data["delay"] != undefined) {
                var reloader = setTimeout(() => {
                    window.location.href = 'http://' + document.domain + data["href"];
                    reloader = undefined;
                }, data["delay"]);
            } else {
                window.location.href = 'http://' + document.domain + data["href"];
            }
        });
    </script>
</body>

</html>