<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="/static/{{ now }}/js/restart_ui.js"></script>
    <script src="/static/{{ now }}/js/popup.js"></script>
</head>

<body>
    <header class="header header__begin header__color--checklist">
        <div class="header__info">
            <div class="header__info--logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <div class="header__info--model--voltage">
                <div class="header__info--model">
                    <p>{{ sn }}</p>
                </div>
            </div>
        </div>
        <div class="header__title">
            {{ title }}
        </div>
    </header>
    <section class="checklist">
        <p class="checkbox__item--title" style="color:rgb(156, 156, 156); font-style: italic;">{{ message }}</p>
    </section>
</body>

</html>