<!doctype html>
<html lang={{ui_language | tojson}}>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="/static/{{ now }}/fontawesome/solid.js"></script> 
    <script type="text/javascript" src="/static/{{ now }}/fontawesome/fontawesome.js"></script> 
    <script src="/static/{{ now }}/js/slider.js"></script>
    <script src="/static/{{ now }}/js/radio_btn_group.js" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="/static/{{ now }}/js/save_setting.js" defer></script>
    <script src="/static/{{ now }}/js/popup.js" defer></script>
    <script src="/static/{{ now }}/js/restart_ui.js"></script>
    <title>Violette</title>
</head>
<body>
    <header class="header header__begin header__color--checklist">
        <div class="header__info">
            <div class="header__info--logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <div class="header__info--model--voltage">
                <div class="header__info--model">
                    <p>{{ sn }}</p>
                </div>
            </div>
        </div>
        <div class="header__title">
            {{(ui_languages["Settings"])[ui_language]}}
        </div>
    </header>
    {{ setting_page_generate|safe }}
</body>
</html>