<!doctype html>
<html lang={{ui_language | tojson}}>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="/static/{{ now }}/fontawesome/solid.js"></script> 
    <script type="text/javascript" src="/static/{{ now }}/fontawesome/fontawesome.js"></script> 
    <script src="/static/{{ now }}/js/slider.js"></script>
    <title>Violette</title>
</head>
<body>
    <div class="header">
        <div class="header__info">
            <div class="header__info--logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </div>
            <div class="header__info--model--voltage">
                <div class="header__info--model">
                    <p>{{ sn }}</p>
                </div>
            </div>
        </div>
        <div class="header__title">
            Page de configuration
        </div>
        <!--<div class="header__subtitle">
            ?
        </div>-->
    </div>
    <section class="setting">
        <section class="setting__category">
            <h1 class="setting__category--title unselectable">
                Navigation:
            </h1>
            <!-- Setting Zig zag or spiral -->
            <div class="checklist__select--title" style="margin-bottom: 0px !important;">
                Choix du chemin:
             </div>
            <div class="radio_ckeckbox" style="grid-template-columns: 50% 50% ;">
                <div class="checkbox" style="margin-top: 0px !important;">
                    <label class="checkbox__item">
                        <p class="checkbox__item--title unselectable">
                            Zig zag
                        </p>
                        <input type="checkbox" id="opencover">
                        <span class="checkmark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#47a857" class="bi bi-check" viewBox="0 0 16 16">
                                <circle cx="8.5" cy="8" r="4" fill="#47a857" />
                            </svg>
                        </span>
                    </label>
                </div>
                <div class="checkbox" style="margin-top: 0px !important;">
                    <label class="checkbox__item">
                        <p class="checkbox__item--title unselectable">
                            Spiral
                        </p>
                        <input type="checkbox" id="opencover">
                        <span class="checkmark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#47a857" class="bi bi-check" viewBox="0 0 16 16">
                                <circle cx="8.5" cy="8" r="4" fill="#47a857" />
                            </svg>
                        </span>
                    </label>
                </div>
            </div>
            <!-- Setting mauvais GPS-->
            <div class="checkbox">
                <label class="checkbox__item">
                    <p class="checkbox__item--title unselectable">
                        Arrêt GPS mauvaise qualité
                    </p>
                    <input type="checkbox" id="opencover" onclick="">
                    <span class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#47a857" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                    </span>
                </label>
            </div>
        </section>
        <section class="setting__category">
            <h1 class="setting__category--title unselectable">
                Détection:
            </h1>
            <!-- Setting modèle périphérique-->
            <div class="checklist__select">
                <div class="checklist__select--title">
                    Modèle périphérique:
                </div>
                <div class="checklist__select--role">
                    <select id="AI_selector">
                        <option value='{{(ui_languages["Choose_AI"])[ui_language]}}' disabled>{{(ui_languages["Choose_AI"])[ui_language]}}</option>
                        {%  for ia in IA_list %}
                        <option value='{{ia}}'>{{ia}}</option>
                        {%  endfor %}
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9ca2b4" class="bi bi-caret-down-fill position-absolute" viewBox="0 0 16 16">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                    </svg>
                </div>
            </div>
            <div class="ruler__main--assets">
                <div class="ruler__assets--title">
                    <p>Seuil:</p>
                    <span class="no_format" id="spanThresholdPeriphery">0.2</span>
                </div>
                <div class="ruler__assets--line">
                    <input type="range" min="0.1" max="0.8" value="0.2" step="0.1" id="rangeThresholdPeriphery" oninput="range('rangeThresholdPeriphery', 'spanThresholdPeriphery')"">
                </div>
            </div>
            <script defer>
                range("rangeThresholdPeriphery", "spanThresholdPeriphery")
            </script>
            <!-- Setting  modèle précis-->
            <div class="checklist__select">
                <div class="checklist__select--title">
                    Modèle précis:
                </div>
                <div class="checklist__select--role">
                    <select id="AI_selector">
                        <option value='{{(ui_languages["Choose_AI"])[ui_language]}}' disabled>{{(ui_languages["Choose_AI"])[ui_language]}}</option>
                        {%  for ia in IA_list %}
                        <option value='{{ia}}'>{{ia}}</option>
                        {%  endfor %}
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9ca2b4" class="bi bi-caret-down-fill position-absolute" viewBox="0 0 16 16">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                    </svg>
                </div>
            </div>
            <div class="ruler__main--assets">
                <div class="ruler__assets--title">
                    <p>Seuil:</p>
                    <span class="no_format" id="spanThresholdPrecise">0.2</span>
                </div>
                <div class="ruler__assets--line">
                    <input type="range" min="0.1" max="0.8" value="0.2" step="0.1" id="rangeThresholdPrecise" oninput="range('rangeThresholdPrecise', 'spanThresholdPrecise')"">
                </div>
            </div>
            <script defer>
                range("rangeThresholdPrecise", "spanThresholdPrecise")
            </script>
            <!-- Setting Mono or stéréo -->
            <div class="checklist__select--title" style="margin-bottom: 0px !important;">
                Choix de la prise de vue:
             </div>
            <div class="radio_ckeckbox" style="grid-template-columns: 50% 50% ;">
                <div class="checkbox" style="margin-top: 0px !important;">
                    <label class="checkbox__item">
                        <p class="checkbox__item--title unselectable">
                            Mono
                        </p>
                        <input type="checkbox" id="opencover" onclick="">
                        <span class="checkmark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#47a857" class="bi bi-check" viewBox="0 0 16 16">
                                <circle cx="8.5" cy="8" r="4" fill="#47a857" />
                            </svg>
                        </span>
                    </label>
                </div>
                <div class="checkbox" style="margin-top: 0px !important;">
                    <label class="checkbox__item">
                        <p class="checkbox__item--title unselectable">
                            Stéréo
                        </p>
                        <input type="checkbox" id="opencover" onclick="">
                        <span class="checkmark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#47a857" class="bi bi-check" viewBox="0 0 16 16">
                                <circle cx="8.5" cy="8" r="4" fill="#47a857" />
                            </svg>
                        </span>
                    </label>
                </div>
            </div>
        </section>
        <section class="setting__category">
            <h1 class="setting__category--title unselectable">
                Retrait des adventices:
            </h1>
            <div class="ruler__main--assets">
                <div class="ruler__assets--title">
                    <p>Cycle:</p>
                    <span class="no_format" id="spanCycle">2</span>
                </div>
                <div class="ruler__assets--line">
                    <input type="range" min="1" max="10" value="2" step="1" id="rangeCycle" oninput="range('rangeCycle','spanCycle')"">
                </div>
            </div>
            <script defer>
                range("rangeCycle", "spanCycle")
            </script>
            <!-- Setting retrait adventice-->
            <div class="checklist__select">
                <div class="checklist__select--title">
                    Technique de retrait des adventices:
                </div>
                <div class="checklist__select--role">
                    <select id="AI_selector">
                        <option value='extraction_type' disabled>Choisir la technique de retrait des adventices</option>
                        {% set extraction_types = ['Fraisage','Extraction'] %}
                        {%  for extraction_type in extraction_types %}
                        <option value='{{extraction_type}}'>{{extraction_type}}</option>
                        {%  endfor %}
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9ca2b4" class="bi bi-caret-down-fill position-absolute" viewBox="0 0 16 16">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                    </svg>
                </div>
            </div>
        </section>
        <section class="setting__category">
            <h1 class="setting__category--title unselectable">
                Autre:
            </h1>
            <div class="checklist__select">
                <div class="checklist__select--title">
                    Langue:
                </div>
                <div class="checklist__select--role">
                    <select id="AI_selector">
                        <option value='extraction_type' disabled>Choisir la langue</option>
                        {%  for language in ui_languages["Supported Language"] %}
                        <option value='{{language}}'>{{language}}</option>
                        {%  endfor %}
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9ca2b4" class="bi bi-caret-down-fill position-absolute" viewBox="0 0 16 16">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                    </svg>
                </div>
            </div>
            <div class="setting--button">
                <button name="reboot_app_button" id="reboot_app_button" class="setting_btn unselectable" onclick="" style="background-color: rgb(71, 168, 87)!important; box-shadow: 0px 4px 14px 0px rgba(71, 168, 87, 0.6)!important;">
                    <span class="submit">Relancer l'application</span>
                    <span class="loading"><i class="fas fa-sync-alt fa-spin"></i></span>
                    <span class="check"><i class="fas fa-check scale"></i></span>
                </button>
                <button name="reboot_robot_button" id="reboot_robot_button" class="setting_btn unselectable" onclick="" style="background-color: rgb(71, 168, 87)!important; box-shadow: 0px 4px 14px 0px rgba(71, 168, 87, 0.6)!important;">
                    <span class="submit">Relancer le robot</span>
                    <span class="loading"><i class="fas fa-sync-alt fa-spin"></i></span>
                    <span class="check"><i class="fas fa-check scale"></i></span>
                </button>
            </div>
        </div>
        <div class="setting--button">
            <button name="finish_check" id="finish_check" class="setting_btn unselectable" onclick="" style="background-color: rgb(71, 168, 87)!important; box-shadow: 0px 4px 14px 0px rgba(71, 168, 87, 0.6)!important;">
                <span class="submit">Sauvegarder</span>
                <span class="loading"><i class="fas fa-sync-alt fa-spin"></i></span>
                <span class="check"><i class="fas fa-check scale"></i></span>
            </button>
            <button name="cancel_check" id="cancel_check" class="setting_btn unselectable" onclick="" style="background-color: rgb(234, 40, 40)!important; box-shadow: 0px 4px 14px 0px rgba(234, 40, 40, 0.6)!important;">
                <span class="submit">Annuler</span>
                <span class="loading"><i class="fas fa-sync-alt fa-spin"></i></span>
                <span class="check"><i class="fas fa-check scale"></i></span>
            </button>
        </section>
    </section>
</body>
</html>