.search-layer {
  top: 100px;
  left: .5em;
}
.ol-touch .search-layer {
  top: 130px;
}
html, body {
	background-color: #ffffff;
}
.ol-control button {
	background-color: #f8f8f8 !important;
	color: #000000 !important;
	border-radius: 0px !important;
}
.ol-zoom, .geolocate, .gcd-gl-control .ol-control {
	background-color: rgba(255,255,255,.4) !important;
	padding: 3px !important;
}
.ol-scale-line {
	background: none !important;
}
.ol-scale-line-inner {
	border: 2px solid #f8f8f8 !important;
	border-top: none !important;
	background: rgba(255, 255, 255, 0.5) !important;
	color: black !important;
}
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}
.measure-control {
  top: 65px;
  left: .5em;
}
.ol-touch .measure-control {
  top: 80px;
}

#map {
	width: 1510px;
	height: 834px;
}