[Unit]
Description=Job that runs at start for gnss_publisher.py.
After=network-online.target

[Service]
Type=simple
User=violette
WorkingDirectory=/home/violette/field/
ExecStart=/usr/bin/sudo /usr/bin/python3.6 -m gnss.gnss_publisher
Restart=on-failure

[Install]
WantedBy=multi-user.target