[Unit]
Description=stream
After=network.target

[Service]
Type=simple
User=violette
WorkingDirectory=/home/violette/field/uiWebRobot/
ExecStart=/usr/bin/sudo /usr/bin/python3.6 /home/violette/field/uiWebRobot/application.py
Restart=on-failure

[Install]
WantedBy=multi-user.target