[Unit]
Description=stream
After=launcher.service

[Service]
Type=simple
User=violette
WorkingDirectory=/home/violette/field/
ExecStart=/usr/bin/sudo /usr/bin/python3.6 -m uiWebRobot.application
Restart=on-failure

[Install]
WantedBy=multi-user.target