{% extends "layout.html" %}

{% set active_step=7 %}

{% block title %}Move to target{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/camera_target_move.js') }}"></script>
{% endblock %}

{% block content %}

<div id="run_move_div" class="d-flex justify-content-center align-items-center"
    style="margin: 0 auto; padding: 10px 0;">
    <label class="form-check-label">Move to target :</label>
    <div class="btn-group-vertical m-1">
        <button type="button" id="run_move" class="btn btn-secondary" onclick="runMoveToTarget();"> Run </button>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center" style="margin: 0 auto; padding: 10px 0;">
    <label class="form-check-label" for="xDone">Align X axis :</label>
    <div class="btn-group m-1">
        <button type="button" id="x_remove" class="btn btn-secondary m-1 rounded" onclick="moveX(-1)"
            disabled>Left</button>
        <button type="button" id="x_add" class="btn btn-secondary m-1 rounded" onclick="moveX(1)"
            disabled>Right</button>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center" style="margin: 0 auto; padding: 10px 0;">
    <label class="form-check-label" for="xDone">Align Y axis :</label>
    <div class="btn-group-vertical m-1">
        <button type="button" id="y_add" class="btn btn-secondary m-1 rounded" onclick="moveY(1)" disabled>Up</button>
        <button type="button" id="y_remove" class="btn btn-secondary m-1 rounded" onclick="moveY(-1)"
            disabled>Down</button>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center" style="margin: 0 auto; padding: 10px 0;">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="targetMoveDone" onclick="enableNext()">
        <label class="form-check-label" for="targetMoveDone">Move to target done</label>
    </div>
    <button type="button" id="next" class="btn btn-danger"
        onclick="socketio.emit('validate_log', {'key': 'Camera offset', 'value': 'OK'});sleep(1000).then(() => {window.location.href=get_next_page_ref({{ active_step }})});">Next</button>
</div>

{% endblock %}