{% extends "layout.html" %}

{% set active_step=5 %}

{% block title %}Setup camera focus{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/camera_focus.js') }}"></script>
{% endblock %}

{% block content %}

<div style="height: 69vh; margin: 0 auto;" class="d-flex justify-content-center align-items-center">
    <div id="spinner" style="height: 100%;" class="d-flex justify-content-center align-items-center">
        <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
    </div>
    <img id="camera_video" src="http://violette.lan:8080/video"
        style="margin: 0 auto; height: 100%; border-radius: 50px;" class="d-none">
</div>
<div class="d-flex justify-content-center align-items-center" style="margin: 0 auto; padding: 10px 0;">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="focusDone" onclick="enableNext()">
        <label class="form-check-label" for="focusDone">Focus done</label>
    </div>
    <button type="button" id="next" class="btn btn-danger"
        onclick="socketio.emit('validate_log', {'key': 'Camera focus', 'value': 'OK'});window.location.href=get_next_page_ref({{ active_step }})">Next</button>
</div>

{% endblock %}