<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Server deployement</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        html, body
        {
            padding: 0;
            margin: 0;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/bootstrap.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <script>
        var next_page_href = 'http://' + document.domain + ':' + location.port + '/camera_target_detection';
        var socketio = io.connect('http://' + document.domain + ':' + location.port + '/server');
    </script>
</head>
<body>
    <h1 style="text-align: center; padding: 10px 0;">Round detection for crop camera</h1>
    <div style="height: 80%; margin: 0 auto;">
        <div id="spinner" style="height: 100%;" class="d-flex justify-content-center align-items-center">
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
        </div>
        <img id="fig_image" class="d-none" style="height: 100%; margin: 0 auto; border-radius: 100px; overflow: hidden; display:block;">
    </div>
    <div class="d-flex justify-content-center align-items-center" style="margin: 0 auto; padding: 10px 0;">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="roundDetectionDone" onclick="enableNext()">
            <label class="form-check-label" for="roundDetectionDone">Round detection done</label>
        </div>
        <button type="button" id="next" class="btn btn-danger" onclick="window.location.href=next_page_href">Next</button>
    </div>
    <script>
        var url_cam = 'http://' + document.domain + ':8080/video';

        function enableNext(){
            if($("#roundDetectionDone").is(':checked')){
                $('#next').prop('class', "btn btn-success");
                $('#next').prop('disabled', false);
            } else{
                $('#next').prop('disabled', true);
                $('#next').prop('class', "btn btn-danger");
            }
        }
        $(document).ready(function(){
            $('#next').prop('disabled', true);
            socketio.emit('run_round_detection', {run_detection: true})
        });

        socketio.on('image', function(data) {
            var arrayBufferView = new Uint8Array(data['image_data']);
            var blob = new Blob( [ arrayBufferView ], { type: "image/jpeg" } );
            var img_url = URL.createObjectURL(blob);
            document.getElementById("fig_image").src = img_url;
            $('#spinner').remove();
            $('#fig_image').removeAttr("class");
        });
    </script>
</body>
</html>