{% extends "layout.html" %}

{% set active_step=7 %}

{% block title %}Detection of target{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/camera_target_detection.js') }}"></script>
{% endblock %}

{% block content %}

<div class="text-center" style="height: 72vh; margin: 0 auto;">
    <div id="run_detection_div" class="d-flex justify-content-center align-items-center"
        style="margin: 0 auto; padding: 10px 0;">
        <label class="form-check-label">Target detection :</label>
        <div class="btn-group-vertical m-1">
            <button type="button" id="run_detection" class="btn btn-secondary" onclick="runDetect();">Run</button>
        </div>
    </div>
    <div id="spinner" style="height: 100%;" class="d-none justify-content-center align-items-center mt-3">
        <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
    </div>
    <img id="fig_image" class="d-none" style="height: 80%; margin: 0 auto;">
    <div id="retry_detection_div" class="d-none justify-content-center align-items-center"
        style="margin: 0 auto; padding: 10px 0;">
        <label id="fig_image_txt" class="form-check-label"></label>
        <div class="btn-group-vertical m-1">
            <button type="button" id="retry_detection" class="btn btn-secondary" onclick="runDetect();">Retry</button>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center" style="margin: 0 auto; padding: 10px 0;">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="targetDetectionDone" onclick="enableNext()">
        <label class="form-check-label" for="targetDetectionDone">Target detection done</label>
    </div>
    <script>
        var next_page_href = 'http://' + document.domain + ':' + location.port + '/camera_target_move';
    </script>
    <button type="button" id="next" class="btn btn-danger" onclick="window.location.href=next_page_href">Next</button>
</div>

{% endblock %}