{% extends "layout.html" %}

{% set active_step=9 %}

{% block title %}Final report{% endblock %}

{% block content %}

<form method="POST" action="/final">
    <table class="table table-hover table-striped">
        {% for key, value in answer.items() %}
        <tr>
            <th> {{ key }} </th>
            <td class="{{ value }}"> {{ value }} </td>

        </tr>
        {% endfor %}
    </table>

</form>
<button onclick="window.print();" class="noPrint">
    Print Me
</button>

{% endblock %}