{% extends "layout.html" %}

{% set active_step=1 %}

{% block title %}Start this deployment{% endblock %}

{% block content %}

<form id="start_form" class="w-75 m-auto" action="/register" method="post">
    <p>
        Welcome to the Violette deployment tool made by Natuition. The objective of this one is to configure the
        different
        elements of the robot in fact of production in order to have a functional robot. To start these configurations
        press
        the button below.
    </p>
    <div class="text-end">
        <button type="submit" class="btn btn-secondary">Start</button>
    </div>
</form>

{% endblock %}