<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Deployement server</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_breadcrumb_trail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <script>
        var socketio = io.connect('http://' + document.domain + ':' + location.port + '/server');
    </script>
    {% block head %}
    {% endblock %}
</head>

<body>

    <header class="header header__begin">
        <div class="header__color">
            <div class="header__info">
                <div class="header__info--logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
                </div>
                <div class="header__title">
                    <h1>{% block title %}{% endblock %}</h1>
                </div>
                <div class="header__info--model--voltage">
                    <div class="header__info--model">
                        <p>{{ SN }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    {% set steps = ["🏠","Foc","Z PWM","Axis direction","Focus","Scene center","Target","Services","✅"] %}

    <footer>
        <div id="breadcrumb" class="breadcrumb flat">
            {% for index in range(steps | length) %}
            <a {% if (active_step-1)==index %} class="active" {% endif %}>{{ steps[index] }}</a>
            {% endfor %}
        </div>
    </footer>

    <script>set_step_url_on_breadcrumb_trail()</script>

</body>

</html>