html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
}

#fig_image:hover {
    /*transform: scale(2);*/
    object-fit: none;
}

.KO{
    color: red!important;
}
.OK{
    color: green!important;
}
@media print {
    .noPrint{
        display:none;
    }
}