*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Merriweather Sans";
    color: #fff;
    height: 100%;
}

.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.display-block {
    display: block !important;
}

.main {
    width: 100%;
    margin: 0 auto;
}

.header__color,
.header__color--checklist {
    width: 100%;
    background-color: #47a857;
    padding: 20px 20px 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header__color {
    height: 20vh;
    position: absolute;
    z-index: -999;
}

#map__header {
    display: block;
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.header__info,
.header__info--model,
.header__info--model--voltage,
.checkmark {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__info--model,
.header__info--voltage {
    background-color: #58b166;
    border-radius: 20px;
    padding: 10px 20px;
}

.header__info--voltage {
    margin-right: 10px;
}

.header__info--model p,
.header__info--voltage p {
    color: #e7ffeb;
    text-transform: uppercase;
    font-weight: 700;
}

.header__title {
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;
    padding: 0 0 10px 20px;
}

.header__subtitle,
.header__subtitle--checklist {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
    padding: 0 20px;
}

.header__subtitle--checklist {
    padding-bottom: 20px !important;
}

.checklist,
.setting {
    padding: 20px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 15px;
    position: relative;
}

.checkbox__item {
    color: #8994a1;
    font-size: 14px;
    font-weight: 300;
}

.setting__category--title {
    color: #8994a1;
    font-size: 16px;
    font-weight: 350;
    text-decoration: underline;
}

.setting__category {
    padding-top: 10px;
}

.radio_ckeckbox {
    width: 100%;
    display: inline-grid;
    margin: 5px 0px 0px 0px;
    padding: 5px 5px 8px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.setting--button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5px;
}

.checkbox__item--title {
    padding-top: 3px;
    margin-left: 40px;
}

.checkbox__item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #f3f4f7;
    border-radius: 4px;
    box-shadow: inset 0px 4px 8px 0px rgba(35, 44, 60, 0.06);
}

.checkmark svg {
    display: none;
}

.checkbox__item:hover input~.checkmark {
    background-color: #e8edee;
}

.checkbox__item input:checked~.checkmark svg {
    display: block;
}

.checklist__select {
    width: 100%;
}

.checklist__select--title {
    font-size: 12px;
    font-weight: 300;
    color: #778493;
    margin-top: 20px;
    margin-bottom: 15px;
}

.checklist__select--role {
    display: flex;
    position: relative;
    align-items: center;
    flex-grow: 1;
}

.checklist__select--role svg {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.checklist__select--role select {
    padding: 15px 20px;
    border-radius: 4px;
    border: none;
    font-weight: 300;
    font-size: 1.8vh;
    color: #778493;
    outline: none;
    width: 100%;
    background-color: rgb(249, 250, 252);
    box-shadow: inset 0px 4px 8px 0px rgba(35, 44, 60, 0.06);
    appearance: none;
}


.finish__check {
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 168, 87);
    box-shadow: 0px 4px 14px 0px rgba(71, 168, 87, 0.6);
    width: 15vh;
    height: 6vh;
    font-size: 2vh;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
}

.finish__check:hover {
    background-color: rgb(64, 146, 77) !important;
}

.setting_btn {
    /*background-color: rgb(234, 40, 40)!important; 
    box-shadow: 0px 4px 14px 0px rgba(234, 40, 40, 0.6)!important; */
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 50px;
    width: 165px;
    margin-top: 25px;
    max-width: 155px;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
}

.header__map,
.header__map img {
    /*max-width: 375px;*/
    padding: 0 40px;
    height: 50vw;
}

.header__map {
    padding-top: 10px;
    margin: 0 auto;
}

.header__begin {
    padding: 0;
}

.header__begin .header__info {
    padding: 20px 20px 0px;
}


.ruler__main {
    width: 100% !important;
    border-radius: 19px;
    background-color: #f9fafc;
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ruler__main--assets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 280px;
    flex-grow: 1;
}

.ruler__assets--title {
    display: flex;
    align-items: center;
    color: #778493;
    font-size: 1.5vh;
    font-weight: 300;
}

.ruler__assets--title span {
    font-size: 1.7vh;
    font-weight: 500;
    background-color: #eef0f3;
    padding: 8px;
    border-radius: 20px;
    margin-left: 7px;
    width: 40px;
}

.ruler__assets--line {
    width: 100%;
    margin-left: 20px;
}

.ruler__assets--line input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    height: 8px;
}

.ruler__assets--line input[type=range]:focus {
    outline: none;
}

.ruler__assets--line input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    background-color: rgb(222, 225, 229);
    border-radius: 1.3px;
}

.ruler__assets--line input[type=range]::-webkit-slider-thumb {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    cursor: pointer;
    background-image: -moz-linear-gradient(131deg, rgb(71, 168, 87) 0%, rgb(63, 207, 86) 100%);
    background-image: -webkit-linear-gradient(131deg, rgb(71, 168, 87) 0%, rgb(63, 207, 86) 100%);
    background-image: -ms-linear-gradient(131deg, rgb(71, 168, 87) 0%, rgb(63, 207, 86) 100%);
    box-shadow: 0px 4px 8px 0px rgba(71, 168, 87, 0.6);
    -webkit-appearance: none;
    margin-top: -6px;
}

.ruler__main--button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5px;
    max-width: 300px;
    min-width: 280px;
}

.ruler__main--button button {
    border-width: 1px;
    border-color: rgb(71, 168, 87);
    border-style: solid;
    font-size: 1.5vh;
    color: #778493;
    font-weight: 600;
    /*position: absolute;*/
    border-radius: 20px;
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    transition: .2s ease-in;
    outline: none;
}

#Audit label p {
    margin-left: 32px;
    font-size: 15px;
    color: #778493;
    font-weight: 600;
}

#Audit label span {
    top: 6px;
    left: 10px;
}

.fix {
    filter: invert(54%) sepia(79%) saturate(326%) hue-rotate(79deg) brightness(89%) contrast(90%);
}

.audit {
    opacity: 0.5;
}

.disable-switcher-audit {
    opacity: 0.2;
    filter: invert(41%) sepia(78%) saturate(7006%) hue-rotate(349deg) brightness(87%) contrast(137%);
}

.disabled-wheel {
    opacity: 0.3;
}

.ruler__main--button button:hover svg {
    fill: #fff;
}

.ruler__main--button svg {
    margin-left: 12px;
}

.status,
.status__circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status__circle {
    border-radius: 50%;
    background-color: rgb(249, 250, 252);
    box-shadow: inset 0px 4px 8px 0px rgba(35, 44, 60, 0.06);
    width: 165px;
    height: 165px;
}

.status__circle--min {
    border-radius: 50%;
    background-color: rgb(238, 240, 243);
    box-shadow: 0px 2px 2px 0px rgba(35, 44, 60, 0.08);
    width: 78px;
    height: 78px;
}

.begin__button--start,
.begin__button--continue,
.begin__button--stop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 168, 87);
    box-shadow: 0px 4px 14px 0px rgba(71, 168, 87, 0.6);
    width: 15vh;
    height: 6vh;
    font-size: 2vh;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
}

.begin__button--continue {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #47a857;
    color: #47a857;
}

.begin__button--stop {
    background-color: #de3b3b !important;
    box-shadow: none !important;
    border: 1px solid #a73939 !important;
    color: white !important;
}

.begin__button--start:hover {
    background-color: rgb(71, 160, 84);
}

.begin__button {
    /*position: absolute;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:
        space-between;
    bottom: 0px;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
}

.status__active {
    justify-content: center;
}

.status__active,
.status__active--time {
    display: flex;
}

.status__active--time {
    border-radius: 19px;
    background-color: rgb(249, 250, 252);
    padding: 5px;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.status__time--top,
.status__time--bottom {
    padding: 10px;
    width: 100%;
}

.status__time--top {
    border-radius: 14px;
    background-color: #eef0f3;
}

.status__time--top p {
    display: flex;
    font-size: 12px;
    align-items: center;
    color: #778493;
    width: 155px;
}


.status__time--top p span,
.status__time--bottom p span {
    font-size: 14px;
    font-weight: 500;
    color: #778493;
    margin-left: 7px;
}

.status__time--bottom {
    font-size: 12px;
    color: #1b7b2a;
    width: 155px;
}

.status__bottom--1 {
    display: flex;
    width: 155px;
}

.status__bottom--1 p:nth-child(2) {
    margin-left: 14px;
}

.status__bottom--2,
.status__bottom--3,
.status__bottom--4,
.status__bottom--5,
.status__bottom--6 {
    margin-top: 2px;
    display: flex;
}

.status__bottom--1:before,
.status__bottom--2:before,
.status__bottom--3:before,
.status__bottom--4:before,
.status__bottom--5:before,
.status__bottom--6:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 18px;
    margin-right: 5px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.status__bottom--1 {
    color: rgba(71, 168, 87) !important;
}

.status__bottom--1::before {
    background: rgba(71, 168, 87) !important;
}

.status__bottom--2 {
    color: rgba(61, 138, 87) !important;
}

.status__bottom--2::before {
    background: rgba(61, 138, 87) !important;
}

.status__bottom--3 {
    color: rgba(51, 108, 87) !important;
}

.status__bottom--3::before {
    background: rgba(51, 108, 87) !important;
}

.status__bottom--4 {
    color: rgba(41, 78, 87) !important;
}

.status__bottom--4::before {
    background: rgba(41, 78, 87) !important;
}

.status__bottom--5 {
    color: rgba(31, 48, 87) !important;
}

.status__bottom--5::before {
    background: rgba(31, 48, 87) !important;
}

.status__bottom--6 {
    color: rgba(21, 18, 87) !important;
}

.status__bottom--6::before {
    background: rgba(21, 18, 87) !important;
}

.status__active--circle {
    /*border-radius: 50%;
    background-color: rgb(71, 168, 87);
    box-shadow: inset 0px 4px 8px 0px rgba(35, 44, 60, 0.1);*/
    width: 155px !important;
    height: 155px !important;
    margin-right: 10px;
}

.unselectable,
* {
    -webkit-touch-callout: none !important;
    /* iOS Safari */
    -webkit-user-select: none !important;
    /* Safari */
    -khtml-user-select: none !important;
    /* Konqueror HTML */
    -moz-user-select: none !important;
    /* Old versions of Firefox */
    -ms-user-select: none !important;
    /* Internet Explorer/Edge */
    user-select: none !important;
}

.arret {
    background-color: #de3b3b !important;
    box-shadow: none !important;
    border: 1px solid #a73939 !important;
    color: white !important;
}

.disabled {
    background-color: #5d61643a !important;
    box-shadow: none !important;
    border: 1px solid #5d61646b !important;
    color: #5d61646b !important;
}

.begin__button--demo {
    font-size: 2em;
    border: none !important;
    background-color: white !important;
    box-shadow: none !important;
    color: rgb(71, 168, 87);
}

/*Button animation part*/

.loading,
.check {
    display: none;
}

.active i {
    transform-origin: center center;
}

.active .loading {
    line-height: 0;
    display: unset;
    top: 100%;
    transform: translateY(0%);
}

.active .check,
.active .submit {
    display: none;
}

.finished .submit,
.finished .loading {
    display: none !important;
}

.finished .check {
    display: unset !important;
    animation: scale 0.5s linear !important;
}

svg.fa-sync-alt,
svg.fa-check {
    margin: 0;
}

@keyframes scale {
    0% {
        transform: scale(10);
    }

    50% {
        transform: scale(0.2);
    }

    70% {
        transform: scale(1.2);
    }

    90% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}



/*Joystick part*/

.disable {
    background-color: white;
    filter: alpha(opacity=25);
    /* IE */
    opacity: 0.25;
    /* Safari, Opera */
    -moz-opacity: 0.25;
    /* FireFox */
    z-index: 20;
    background-repeat: no-repeat;
    background-position: center;
    top: 0px;
    left: 0px;
}

#joy2Div {
    width: 200px;
    height: 200px;
    margin: 50px
}

#webCamStream {
    margin-top: 10px !important;
}

.ruler {
    flex-wrap: wrap;
    margin-top: 10px;
}

select {
    -webkit-appearance: none;
}

#choose_field_selector {
    margin-top: 5px;
    margin-bottom: 10px;
    min-width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#joystick {
    flex-grow: 1;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (orientation:landscape) {
    .main {
        display: none;
    }

    .landscape {
        display: block;
    }

    .header__color {
        height: 17vw;
    }
}

@media (pointer: fine),
(pointer: none) {
    body {
        max-width: 380px !important;
        max-height: 750px !important;
        margin: auto;
    }

    .main {
        display: block;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .landscape {
        display: none;
    }

    .header__color {
        height: 20vh;
        max-width: 380px;
    }

    .header__map,
    .header__map img {
        height: 200px;
    }

    #canvas_joystick:hover:not(.disabled),
    #Wheel:hover:not(.disabled),
    #choose_field_selector:hover:not(.disabled) {
        cursor: pointer;
    }

    button:hover:not(.disabled),
    .header__info--model:hover:not(.disabled) {
        cursor: pointer;
        box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
        z-index: 1;
    }

}

@media screen and (orientation:portrait) {
    .main {
        display: block;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .landscape {
        display: none;
    }
}

#cam_div {
    text-align: center;
    margin: 25px 0px 0px 45px;
    position: relative;
}

#cam_div div p {
    color: #8994a1;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0 !important;
    font-weight: bold;
}

#cam_div div {
    position: absolute;
    top: 75%;
    left: 0;
    padding-left: 5px;
    width: 100%;
}


.header_top_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;

}

.info_container {
    display: flex;
    background-color: #58b166;
    border-radius: 10px;
    padding: 5px 10px;
}

.header_logo_img {
    width: 50px;
    height: 50px;
}

.gps_icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
